h1{
  font-size: 55px;
  font-style: italic;
  font-weight: bolder;
}
.birthday{
  padding:10px 10px 10px 10px;
  border: 1px solid black;
  display: block;
}
body{
  background-image: url(../img/hat.jpg);
  background-size:cover;
}
.forms{
  font-weight: bold;
  font-style:italic;
  padding: 50px 100px 100px 500px;
}
.page{
  display: flex;
  font-size: 20px;
  font-style: oblique;
  font-family:serif;
}
.description{
  font-family:serif;
  font-style: italic;
  font-size: 20px;
}
