.birthday{
  padding:10px 10px 10px 10px;
  border: 1px solid black;
  display: block;
}
body{
  background-image: url(../img/cake.jpg);
  background-size: cover;
}
.forms{
  font-weight: bold;
  font-style: oblique;
  font-family: serif;
  padding: 50px 100px 100px 500px;
}
.page{
  display: flex;
}
